<h2 class="entryMotive">Contribuyente que emitió comprobantes fiscales que ampararon operaciones inexistentes</h2>
<br />
<md-card class="md-padding">

  <p><strong>Situación: </strong> {{entry.status}}</p>
  <p><strong>Número y fecha de oficio global de presunción: </strong> {{entry.document}}</p>
  <p><strong>Publicación página SAT presuntos: </strong> {{vm.getDate(entry.publicationPresumtive)}}</p>
  <p><strong>Publicación DOF presuntos: </strong> {{vm.getDate(entry.publicationDOFPresumtive)}}</p>
  <p ng-show='entry.disprovedDocument'><strong>Número y fecha de oficio global de contribuyentes que desvirtuaron:
    </strong> {{entry.presumptionDocument}}</p>
  <p ng-show='entry.publicationDisproved'><strong>Publicación página SAT Desvirtuados: </strong>
    {{entry.publicationDisproved}}</p>
  <p ng-show='entry.publicationDOFDisproved'><strong>Publicación DOF Desvirtuados: </strong>
    {{entry.publicationDOFDisproved}}</p>
  <p ng-show='entry.documentDefinitive'><strong>Número y fecha de oficio global de definitivos: </strong>
    {{entry.documentDefinitive}}</p>
  <p ng-show='entry.publicationDefinitive'><strong>Publicación página SAT definitivos: </strong>
    {{vm.getDate(entry.publicationDefinitive)}}</p>
  <p ng-show='entry.publicationDOFDefinitive'><strong>Publicación DOF definitivos: </strong>
    {{vm.getDate(entry.publicationDOFDefinitive)}}</p>
</md-card>