<!-- <ng-include src='"views/main-toolbar.html"'></ng-include> -->
<md-content class="md-padding">
  <div id='main-logo' layout='row' layout-align='center center'>
    <img src='/images/logo.png' alt='secretofiscal.org' />
  </div>
  <div layout='row' layout-align='center center'>
    <div class='center container'>
    	<iframe width="560" height="315" src="https://www.youtube.com/embed/hLxp2KOAx64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</md-content>
